.nff-upvote-btn {
    font-size: 26px;
    font-weight: bold;
    width: 40px;
    height: 30px;
    border: none;
    background: none !important;
    cursor: pointer;
    line-height: 1;
    color: #333;
    transition: color 0.5s ease;
}

.nff-upvote-btn.voted {
    color: #cb3737; 
    cursor: default;
}

.nff-upvote-btn:hover {
    color: #33c82e; 
}
